
<html>
        <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- <script src="https://code.highcharts.com/highcharts.js"></script> -->
        <style>
        body {font-family: Arial, Helvetica, sans-serif;}
        form {border: 3px solid #f1f1f1;}
        
        input[type=text], input[type=password]
         {
          width: 100%;
          padding: 15px;
          margin: 5px 0 22px 0;
          display: inline-block;
          border: none;
          background:#f1f1f1;
          box-sizing: border-box;
        }
        
        button {
          background-color: #556B2F;
          color: white;
          padding: 14px 20px;
          margin: 8px 0;
          border: none;
          cursor: pointer;
          width: 100%;
          opacity: 0.9;
        }
        
        button:hover {
          opacity: 1;
        }
        
        .imgcontainer {
          text-align: center;
          margin: 24px 0 12px 0;
        }
        
        img.avatar {
          width: 40%;
          border-radius: 50%;
        }
        
        .container {
          padding: 16px;
        }
        
        span.psw {
          float: right;
          padding-top: 16px;
        }

   .modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 50%; /* Full width */
  height: 50%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #474e5d;
  padding-top: 50px;
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 30%; /* Could be more or less, depending on screen size */

}

body {
background-image:url("https://buidln.clipdealer.com/010/244/454//previews/2--10244454-Fields%20in%20rainy%20weather.jpg");
background-repeat: no-repeat;
background-size:cover;
}
        
        
        
        </style>
        
        
        
          <title>LOGIN</title>
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
          <script type="text/javascript" language="javascript">
            $(document).ready(function () {
              $("#login").click(function () {
                console.log("within login");
                var logininfo = {};
                logininfo.username = $("#un").val(),
                  logininfo.password = $("#pwd").val()
                $.ajax({
                  type: "POST",
                  url: "/authenticate",
                  data: logininfo,
                  success: (data1) => {
                    $.ajax({
                      type: "GET",
                      url: "/verify",
                      data: data1,
                      headers: {
                        'tok': data1.token
                      },
                      success: (data) => {
                        $("body").replaceWith(data);
                       // alert("token verified");
                      },
                      error: (error) => {
                        alert("authentication failed");
                      }
        
                    })
                  },
                  error: (data) => {
                    console.log(data);
                  }
                });
              });
            });
        
          </script>
        
        
        </head>
        <body>
        
        <h2 align="center">Login Form</h2>
        
        
        <form class="modal-content">
        
                <div id="id01" class="modal">
                        <img src="img_avatar2.png" alt="Globaledge-cloud" class="avatar">
                      </div>
                <div class="container">
                  <label for="uname"><b>Username</b></label> <br>
                  <input type="text" placeholder="Enter Username" name="uname" id="un" required><br>
                  <label for="psw"><b>Password</b></label><br>
                  <input type="password" placeholder="Enter Password" name="psw" id="pwd"required><br><br>
                  <div class="container" style="background-color:#f1f1f1">
                  <button type="button"  id="login">Login</button>
                  </div>
                </div>
          
        </form>
        
        </body>
        </html>
        
